@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Helvetica Bold Oblique';
  src: url('/fonts/helvetica-bold-oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: oblique;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
